.App {
  text-align: center;
  
}

.App-logo {
  height: 10vmin;
  /* pointer-events: none; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #000000;
  border-bottom: 2px solid #F6F6F6!important;
}

.App-header:before {
  content: '';
  height: 4px;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to right,#fff400,#6ccdd6);
  z-index: 2;
}
h1.header-title {
  padding: 0 20px;
}
.left-container {
  flex: 0 1 auto;
  /* left: 0; */
  align-items: center;
}

.right-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end !important;
}
/* .App-header .container .header-title {
  width: 100%;
  align-items: center;
} */
.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
main.create-activity-main,
main .edit-activity-main {
    margin: 1rem 1em;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 400px;
    background: #FFFFFF;
    padding: 0em;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 1px 3px 0px #6ccdd670, 0px 0px 0px 1px #bde360;
    -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.create-activity-form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  background: none;
  margin: 0em;
  padding: 1em 1em;
  box-shadow: none;
  /* font-size: 1em; */
  border-radius: 0em;
  font-size: 1rem;
  position: relative;
  max-width: 100%;
}
.create-activity-form .field {
    clear: both;
    margin: 0em 0em 1em;
}

.create-activity-form input[type="time"],
.create-activity-form input[type="date"],
.create-activity-form input[type="text"],
.create-activity-form input[type="number"] {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.2142em;
  padding: 0.6em 0.2em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}
.create-activity-form input[type="text"] {
    width: 90%;
    vertical-align: top;
}
.create-activity-form input[type="date"],
.create-activity-form input[type="time"],
.create-activity-form input[type="number"] {
  vertical-align: top;
}
.field > label {
  display: block;
  margin: 0em 0em 0.25rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  font-weight: bold;
  text-transform: none;
}

.field input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px #FFFFF0 inset !important;
  border-color: #E5DFA1 !important;
}
.list-of-activities.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.list-of-activities .content {
  
  /* background-image: linear-gradient(to right,#fff40040,#6ccdd670); */
  display: block;
  margin: 10px 20px;
  min-width: 250px;
  border-radius: 5px;
  border: 2px solid #F6F6F6;
  border-top: 4px solid #C1E45A;
  box-shadow: 0px 1px 3px 0px #6ccdd670, 0px 0px 0px 1px #bde360; 
}
.create-activity .container {
  justify-content: center;
  display: flex;
  width: 100%;
}
.close-create-activity {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}
.extra-content-buttons {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-size: 0;
  border: 0;
  background-color: transparent;
}
.extra-content-buttons:hover {
  cursor: pointer;
  box-shadow: inset 0px -3px 0px 0px #FFF400, 0px 0px 0px 0px;;
}
.trash-icon {
  background-image: url('./icons/trash-can-solid.svg');
}
.edit-icon {
  background-image: url('./icons/pen-to-square-solid.svg');
}
.activity-guests{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.guest-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('./icons/user-group-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-size: 0;
}
.buttons-segment {
  text-align: center;
}
.basic-button,
.cancel-activity,
.create-activity-link {
  margin: 0 20px;
  padding: 8px 30px;
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
  box-shadow: none;
  font-size: 1em;
  font-family: serif;
}
.cancel-activity,
.create-activity-link {
  text-decoration: none;
}
.basic-button:hover,
.cancel-activity:hover,
.create-activity-link:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
.activities-content {
  text-align: left;
  padding: 0px 10px;
}
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #85B7D9;
  border-radius: 0.28571429rem;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgb(34 36 38 / 35%) inset;
}
input[type="date"]:hover,
input[type="time"]:hover,
input[type="number"]:hover,
input[type="text"]:hover {
  cursor: text;
}
h2.activity-name {
  margin-bottom: 5px;
  color: #375565;
}
.activity-info, .activity-time, .activity-guests {
  color: #797979;
  font-size: 0.95em;
}
